default_dns: &default_dns [tcp://180.184.2.2, tcp://119.29.29.29]
direct_dns: &direct_dns [https://doh.360.cn/dns-query, tcp://223.5.5.5]
proxy_dns: &proxy_dns [tcp://94.140.14.14, tcp://1.0.0.1, tcp://8.8.8.8]

mixed-port: 7890
allow-lan: true
bind-address: "*"
mode: rule
log-level: info
ipv6: true
keep-alive-interval: 30
keep-alive-idle: 60
disable-keep-alive: true
unified-delay: true
global-client-fingerprint: firefox
geodata-mode: false
geodata-loader: memconservative
tcp-concurrent: true

geoip: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.dat
geosite: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat
mmdb: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb
asn: >-
    https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb

dns:
  enable: true
  cache-algorithm: arc
  ipv6: false
  listen: 0.0.0.0:1053
  enhanced-mode: redir-host
  respect-rules: false
  fake-ip-ttl: 15
  fake-ip-range: 198.18.0.1/16
  default-nameserver: *default_dns
  nameserver: *direct_dns
  proxy-server-nameserver: *direct_dns
  nameserver-policy:
    'GEOSITE:CN': *direct_dns
    '+.*': *proxy_dns
    
