mixed-port: 7890
#allow-lan: false
#bind-address: '*'
mode: rule
log-level: info
external-controller: '127.0.0.1:9090'
#unified-delay: true
tcp-concurrent: true

geoip: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.dat
geosite: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat
mmdb: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb
asn: >-
    https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb

dns:
  enable: true
  cache-algorithm: arc
  ipv6: false
  listen: 0.0.0.0:1053
  use-hosts: false
  use-system-hosts: false
  enhanced-mode: fake-ip
  respect-rules: false
  fake-ip-range: 198.18.0.1/16
  default-nameserver:
    - tls://223.5.5.5
  nameserver:
    - https://doh.360.cn#☁️ 全球直连
    - https://doh.pub/dns-query#☁️ 全球直连
  fallback:
    - tls://8.8.4.4#⚖️ 故障转移
    - tls://1.1.1.1#⚖️ 故障转移
  fallback-filter:
    geoip: true
    geoip-code: CN
    
sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true  # 处理纯 IP 请求
  sniff:
    HTTP:
      ports: [80, 8080-8880]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
  skip-domain:
    - "Mijia Cloud"
    - "+.push.apple.com"
