mixed-port: 7890
allow-lan: true
bind-address: "*"
mode: rule
log-level: info
ipv6: true
keep-alive-interval: 30
keep-alive-idle: 60
disable-keep-alive: true
unified-delay: true
global-client-fingerprint: firefox
geodata-mode: false
geodata-loader: memconservative
tcp-concurrent: false
external-controller: '127.0.0.1:9090'

geoip: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.dat
geosite: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat
mmdb: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb
asn: >-
    https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb

dns:
  enable: true
  cache-algorithm: arc
  ipv6: false
  listen: 0.0.0.0:1053
  use-hosts: false
  use-system-hosts: false
  enhanced-mode: fake-ip
  respect-rules: true
  fake-ip-ttl: 60
  fake-ip-range: 198.18.0.1/16
  default-nameserver:
    - tcp://119.29.29.29
  nameserver:
    - tcp://119.29.29.29
    - tcp://119.28.28.28
    - tcp://223.5.5.5
  proxy-server-nameserver:
    - tcp://119.29.29.29
    - tcp://119.28.28.28
    - tcp://223.5.5.5
  nameserver-policy:
    'geosite:cn': [tcp://119.29.29.29, tcp://119.28.28.28, tcp://223.5.5.5, tcp://223.6.6.6]
    'geosite:geolocation-!cn': [tcp://1.1.1.1, tcp://8.8.8.8]
    
sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  sniff:
    HTTP:
      ports: [80, 1024-65535]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]

tun:
  enable: true
  stack: system
  strict-route: true
  auto-route: true
  dns-hijack:
    - any:53
    - tcp://any:53
  mtu: 1280
  disable-icmp-forwarding: true

