mixed-port: 7890
allow-lan: true
bind-address: "*"
mode: rule
log-level: info
ipv6: false
keep-alive-interval: 15
keep-alive-idle: 15
disable-keep-alive: true
unified-delay: true
global-client-fingerprint: firefox
geodata-mode: false
geodata-loader: memconservative
tcp-concurrent: false
external-controller: '127.0.0.1:9090'

geoip: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.dat
geosite: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat
mmdb: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb
asn: >-
    https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb

dns:
  enable: true
  cache-algorithm: arc
  ipv6: false
  listen: 0.0.0.0:1053
  use-hosts: false
  use-system-hosts: false
#  enhanced-mode: fake-ip
  enhanced-mode: redir-host
  respect-rules: true
  fake-ip-ttl: 1
  fake-ip-range: 198.18.0.1/16
  default-nameserver:
    - tls://223.5.5.5
    - tls://223.6.6.6
  nameserver:
    - https://doh.360.cn
    - https://doh.pub/dns-query
    - https://1.0.0.1/dns-query
  fallback:
    - https://1.0.0.1/dns-query
    - https://1.1.1.1/dns-query
  proxy-server-nameserver:
    - https://doh.360.cn
    - https://1.0.0.1/dns-query
  fallback-filter:
    geoip: true
    geoip-code: CN

    
sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  sniff:
    HTTP:
      ports: [80, 8080-65535]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]

tun:
  enable: true
  stack: gvisor
  auto-route: true
  auto-redirect: false
  auto-detect-interface: true
  dns-hijack:
    - 0.0.0.0:53
    - 0.0.0.0:853
    - tcp://0.0.0.0:53
  device: ClashMeta1
  mtu: 9000
  strict-route: true
  udp-timeout: 300

