mixed-port: 7890
allow-lan: true
bind-address: "*"
mode: rule
log-level: info
ipv6: false
keep-alive-interval: 15
keep-alive-idle: 15
disable-keep-alive: true
unified-delay: true
global-client-fingerprint: firefox
geodata-mode: false
geodata-loader: memconservative
tcp-concurrent: false
external-controller: '127.0.0.1:9090'

geoip: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.dat
geosite: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat
mmdb: >-
    https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb
asn: >-
    https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb

dns:
  enable: true
  cache-algorithm: arc
  ipv6: false
  listen: 0.0.0.0:1053
  use-hosts: false
  use-system-hosts: false
  enhanced-mode: fake-ip
 # enhanced-mode: redir-host
  respect-rules: true
  fake-ip-ttl: 60
  fake-ip-range: 198.18.0.1/16
  default-nameserver:
    - 119.29.29.29
    - 223.5.5.5
  nameserver:
    - tls://223.6.6.6
    - tls://dot.pub
  proxy-server-nameserver:
    - tls://223.6.6.6
    - tls://dot.pub
  nameserver-policy:
    'geosite:cn':
    - tls://223.6.6.6
    - tls://dot.pub
    
sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  sniff:
    HTTP:
      ports: [80, 8080-65535]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]

tun:
  enable: true
  stack: gvisor
  auto-route: true
  auto-redirect: false
  auto-detect-interface: true
  dns-hijack:
    - 0.0.0.0:53
    - 0.0.0.0:853
    - tcp://0.0.0.0:53
  device: ClashMeta1
  mtu: 9000
  strict-route: true
  udp-timeout: 300

